<table class="table table-hover table-border">
<thead>
<tr><th>No.</th><th>Name</th><th>Mail</th><th>tel</th></tr>
</thead>
<tbody class="table-striped">
<tr><td>1</td><td>Taro</td><td>taro@yamada</td><td>03-999-999<td</tr>
<tr><td>1</td><td>Taro</td><td>taro@yamada</td><td>03-999-999<td</tr>
<tr><td>1</td><td>Taro</td><td>taro@yamada</td><td>03-999-999<td</tr>
<tr><td>1</td><td>Taro</td><td>taro@yamada</td><td>03-999-999<td</tr>
</tbody>